#container {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: #F5F5F4;
}


ion-button {
    width: 50%;
    margin: 10px;
    margin-left: 70px;   
    --ion-color-primary: #797979ab;
    font-family: "Trebuchet MS", Arial, sans-serif;
}