
  <ion-toolbar >
    <ion-navbar>
    
      <ion-searchbar
      [(ngModel)]="pesq"  
      (ionChange)="lerProdutos()">
      
    </ion-searchbar>
    
  </ion-navbar>
  </ion-toolbar>


<ion-content [fullscreen]="true"  padding="20px">
  
  
    <div>
 
    <ion-card *ngFor="let produto of produtos" id="container" routerLink="/pedido">
      <ion-card-header>
        <ion-card-title>{{produto.nome}}</ion-card-title>
        
        <ion-card-subtitle>{{produto.descricao}}</ion-card-subtitle>
      </ion-card-header>
      <p style="font-size: large; margin:  20px;">R$ {{produto.preco}}</p>
    </ion-card>
</div>

</ion-content>
