<ion-header>
  <ion-toolbar>
    <ion-title>
      Cardápio
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
  <div>
    <ion-searchbar
      [(ngModel)]="pesq"  
      (ionChange)="lerProdutos()"
      placeholder="">
    </ion-searchbar>
  </div>
 <div>
    <ion-card *ngFor="let produto of produtos" id="container">
      <ion-card-header>
        <ion-card-title>{{produto.nome}}</ion-card-title>
        
        <ion-card-subtitle>{{produto.descricao}}</ion-card-subtitle>
      </ion-card-header>
      <p style="font-size: large; margin:  20px;">R$ {{produto.preco}}</p>
    </ion-card>
</div>
</div>
</ion-content>
