<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  <form action="">
    <fieldset>
      <legend>Restaurantes em sua Região</legend>
      <ion-card>
        <ion-item>
          <ion-label>
             <img src="assets/img/Rest01.png" width="30%"><ion-button [routerLink]="['../cardapio']" routerDirection="forward">Restaurante 01</ion-button>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label><img src="assets/img/Rest02.png" width="30%"><ion-button [routerLink]="['../cardapio']" routerDirection="forward">Restaurante 02</ion-button></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><img src="assets/img/Rest03.png" width="30%"><ion-button [routerLink]="['../cardapio']" routerDirection="forward">Restaurante 03</ion-button></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><img src="assets/img/Rest04.png" width="30%"><ion-button [routerLink]="['../cardapio']" routerDirection="forward">Restaurante 04</ion-button></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><img src="assets/img/Rest05.png" width="30%"><ion-button [routerLink]="['../cardapio']" routerDirection="forward">Restaurante 05</ion-button></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><img src="assets/img/Rest06.png" width="30%"><ion-button [routerLink]="['../cardapio']" routerDirection="forward">Restaurante 06</ion-button></ion-label>
        </ion-item>       
        <ion-item>
          <ion-label><img src="assets/img/Rest07.png" width="30%"><ion-button [routerLink]="['../cardapio']" routerDirection="forward">Restaurante 07</ion-button></ion-label>
        </ion-item>       
        <ion-item>
          <ion-label><img src="assets/img/Rest08.png" width="30%"><ion-button [routerLink]="['../cardapio']" routerDirection="forward">Restaurante 08</ion-button></ion-label>
        </ion-item>       
      </ion-card>
    </fieldset>
  </form>
    

</ion-content>
