#container {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

ion-button {
    --ion-color-primary: #e6d5bd;
    color: #000;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    line-height: 50px;
    transform: translateY(-30px);
}